.misc-item {
  margin-bottom: 5px;
}

.misc-item li {
  font-size: 16px;
}

.misc-item h3, h4 {
  font-family: 'Ubuntu Mono', monospace;
  display: inline;
}

.misc-item h4 {
  color: #777;
}

.misc-item ul{
  margin: auto;
  width: 78%;
}

